<main>
  <div class="container my-5">
    <h1>Results for "<%= @search_term %>"</h1>
  </div>
  <div class="container my-5">
    <% if(@pins.any?) %>
      <ul class="d-flex flex-wrap flex-row justify-content-start" style="padding-left: 0;">  
        <% @pins.each do |pin| %>
          <li class="list-group-item border-0 ">
            <%= render(partial: 'pin_card', locals: { card_title: pin.title, card_img: pin.image_url, card_tags: pin.tag, card_author: pin.user.email, pin: pin }) %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <h3>No pins found matching this search term! </h3>
    <% end %>
  </div>
</main>