<main>
  <div class="container my-5 hr">
    <h1> Show specific pin </h1>
    <h1><%= @pin.title %></h1>
    <h3>Need details of pin, edit button, add comment when signed in, add to personal pin list (only once), </h3>
  </div>
</main>
