<main>
  <div class="container my-5">
    <div class="d-flex justify-content-center">
      <h1> My Personal Pinlist</h1>
    </div>
    <div class="d-flex justify-content-center">
      <%= link_to(new_pin_path(), class: 'btn btn-primary px-5') do %>Create a new Pin<% end %>
    </div>
    <hr>
    
    <% if(@pinlist.any?) %>
      <ul class="d-flex flex-wrap flex-row justify-content-start" style="padding-left: 0;">  
        <% @pinlist.each do |pin| %>
          <li class="list-group-item border-0 ">
            <%= render(partial: 'pin_card', locals: { card_title: pin.title, card_img: pin.image_url, card_tags: pin.tag, card_author: pin.user.email, pin: pin }) %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <h3>No pins in your personal pinlist were found! </h3>
    <% end %>
    

  </div>
</main>